# Database Configuration (MySQL)
DB_HOST="localhost"
DB_PORT="3306"
DB_USER="root"
DB_PASSWORD=""
DB_NAME="bazaaro"

# Authentication
JWT_SECRET="bazaaro_jwt_super_secret_key_2026"

# App & Ports
PORT=3000
APP_URL="http://localhost:3000"
